# Node.js 관련
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# 환경 변수
.env
.env.local
.env.development
.env.test
.env.production

# 로그 파일
logs
*.log

# 백업 파일
priceData_backup_*.json

# 운영체제 관련 파일
.DS_Store
Thumbs.db

# IDE 관련 파일
.idea/
.vscode/
*.swp
*.swo 